# Directories
## Game Related
/CARS
/CREDITS
/FRONTEND
/GLOBAL
/LANGUAGES
/memcard
/MOVIES
/NIS
/scripts
/SDATA
/SOUND
/SUBTITLES
/TRACKS
/ZMenu
/ZMenuAssets

## Remix Related
/.trex/USD
/rtx-remix/captures
/rtx-remix/mods/gameReadyAssets/Archived_Lights
/rtx-remix/mods/gameReadyAssets/Archived_Textures
/rtx-remix/mods/gameReadyAssets/ExtMod

# Filetypes
*.exe
*.dll
*.py
*.bak
*.test
*.dmp
*.log
*.pdb
*.json
*.zip
*.ssa
*.txt

# Specific Files
*.dxvk-cache
SPEED2.EXE.gzf
SPEED2.EXE.i64
ZMenuU2.asi
server.cfg
ZMenuU2.ini
imgui.ini
*.asi
*.null
*.dds
rtx-remix/mods/gameReadyAssets/extmod.usd
*.idb

rtx-remix/OV_U2.usd

rtx-remix/.thumbs/

rtx-remix/mods/gameReadyAssets/02_materials/
